body {
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#startBackground {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('christmas-backgroundd.jpg');
    background-size: cover;
    z-index: -1;
}

#gameArea {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#timer {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
}

.snowflake {
    position: absolute;
    top: 0;
    background: white;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    opacity: 0.7;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
